---
interface Props {
    codes: string[];
}
const { codes } = Astro.props;

import certifications from "@/assets/certifications.json";
---

<div class="flex justify-center flex-wrap">
    {
        certifications.microsoft
            .filter((c) => codes.includes(c.code))
            .sort((a, b) => {
                if (a.level === b.level) {
                    return a.code.localeCompare(b.code);
                }

                return b.level - a.level;
            })
            .map((c) => (
                <div class="flex w-64 justify-center p-4 text-center">
                    <a
                        href={c.url}
                        class="flex flex-col items-center gap-1"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src={c.logo}
                            alt={c.name}
                            class="w-24 h-24 transition-all duration-700 hover:scale-110 drop-shadow-[0px_0px_2px_rgba(229,231,235,0.4)]"
                        />
                        <h4>{c.code}</h4>
                        <div class="text-sm font-extralight">{c.name}</div>
                    </a>
                </div>
            ))
    }
</div>
