---
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";

import "@/styles/global.css";
import config from "@/config.json";
export type Config = typeof config;

interface Props {
    class?: string;
    title?: string;
}
const { class: className, title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{config.personnal.name} {title ? " | " + title : ""}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body
        class="pt-12 container max-w-screen-xl dark:text-white bg-gray-100 dark:bg-stone-900 flex flex-col"
    >
        <Header config={config} />
        <main class:list={["grow mt-10", className]}>
            <slot />
        </main>
        <Footer text={config.footer.text} links={config.footer.links} />
    </body>
</html>
